# General Python
build/
dist/
venv/
*.egg-info
.eggs/
__pycache__/

# Version from setuptools_scm
stonesoup/_version.py

# Sphinx documentation
/docs/build/
/docs/source/auto*

# coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

#vscode
.vscode

#run-manager csv file for the test
stonesoup/tests/test_csvs/*.csv
