# General
include LICENSE

# Tests
recursive-include stonesoup *.py
include .coveragerc .flake8

# Docs
recursive-include docs/source *.py *.rst
include docs/make.bat docs/Makefile
graft docs/source/_static
graft docs/source/_templates
recursive-include docs/demos *.py *.rst *.csv
recursive-include docs/examples *.py *.rst
recursive-include docs/tutorials *.py *.rst
prune docs/source/auto_*
recursive-include docs/source/auto_demos *Video_Processing*
