absl-py==0.12.0
anytree==2.8.0
astunparse==1.6.3
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
dominate==2.6.0
ffmpeg-python==0.2.0
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
future==0.18.2
gast==0.3.3
google-auth==1.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.37.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
itsdangerous==1.1.0
Jinja2==2.11.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
moviepy==1.0.3
numpy==1.20.2
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.3.1
Pillow==8.2.0
plotly==5.1.0
proglog==0.1.9
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymap3d==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scipy==1.4.1
six==1.15.0
stonesoup==0.1b5
tenacity==8.0.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensornet==0.0.0
tensornets==0.4.6
termcolor==1.1.0
tqdm==4.60.0
urllib3==1.26.4
utm==0.7.0
visitor==0.1.3
Werkzeug==1.0.1
wrapt==1.12.1
