version: 2.1
workflows:
  version: 2
  test:
    jobs:
      - test-37
      - test-38
      - test-39
      - test-310
      - test-311
  docs:
    jobs:
      - docs
jobs:
  test-37: &test-template
    docker:
      - image: cimg/python:3.7
    steps:
      - checkout
      - restore_cache:
          key: dependencies-{{ .Environment.CACHE_VERSION }}-{{ checksum "/home/circleci/.pyenv/version" }}-{{ checksum "setup.cfg" }}
      - run:
          name: Install Dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -e .[dev,reinforcement] opencv-python-headless

      - save_cache:
          paths:
            - ./venv
          key: dependencies-{{ .Environment.CACHE_VERSION }}-{{ checksum "/home/circleci/.pyenv/version" }}-{{ checksum "setup.cfg" }}
      - run:
          name: Run Tests
          command: |
            . venv/bin/activate
            mkdir test-reports
            pytest --junitxml=test-reports/junit.xml --flake8 --cov --cov-report=xml:test-reports/coverage.xml stonesoup
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports 
      - run:
          name: Upload Coverage Results
          command: |
            bash <(curl -s https://codecov.io/bash) \
              -f test-reports/coverage.xml \
              -F unittests \
              -n ${CIRCLE_BUILD_NUM}
  test-38:
    <<: *test-template
    docker:
      - image: cimg/python:3.8
  test-39:
    <<: *test-template
    docker:
      - image: cimg/python:3.9
  test-310:
    <<: *test-template
    docker:
      - image: cimg/python:3.10
  test-311:
    <<: *test-template
    docker:
      - image: cimg/python:3.11
  docs:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - restore_cache:
          key: dependencies-doc-{{ .Environment.CACHE_VERSION }}-{{ checksum "/home/circleci/.pyenv/version" }}-{{ checksum "setup.cfg" }}
      - run:
          name: Install Dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r docs/ci-requirements.txt
            pip install -e .[dev,reinforcement] opencv-python-headless

      - save_cache:
          paths:
            - ./venv
          key: dependencies-doc-{{ .Environment.CACHE_VERSION }}-{{ checksum "/home/circleci/.pyenv/version" }}-{{ checksum "setup.cfg" }}
      - run:
          name: Build Docs
          command: |
            . venv/bin/activate
            coverage run -m sphinx -b html -W --keep-going -D sphinx_gallery_conf.junit=../../../test-reports/sphinx-gallery/junit.xml docs/source docs/build/html
            coverage xml -o test-reports/coverage.xml
      - store_artifacts:
          path: docs/build/html
          destination: docs
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - run:
          name: Upload Coverage Results
          command: |
            bash <(curl -s https://codecov.io/bash) \
              -f test-reports/coverage.xml \
              -F integration \
              -n ${CIRCLE_BUILD_NUM}
