[flake8]
max-line-length = 99
per-file-ignores =
    docs/tutorials/*:E402
    docs/examples/*:E402
    docs/demos/*:E402
    ReinforcementLearning/*:F403, F405, E203, E402, E501

exclude =
    StoneSoup/*
    ReinforcementLearning/configs/*
