body {
  margin: 20px;
}

.card {
  margin: 20px;
}

.stateVector {
  margin: 20px;
}

.row-state {
  width: 200px;
}

.cell-value {
  vertical-align: middle;
  text-align: center;
}

.container-fluid {
  margin: 20px;
}
