{% extends 'base.html' %} {% from 'renderField.html' import show_node%} {%block
head %} {% endblock %} {%block body %}
<div class="card">
  <form action="configInput" method="post" enctype="multipart/form-data">
    <div class="card-body row g-3">
      <div class="col-sm-7 input-group">
        <input
          type="file"
          class="form-control"
          name="configFile"
          value="{{res.filename}}"
        />
        <input class="btn btn-outline-secondary" type="submit" value="Upload" />
      </div>
    </div>
  </form>
</div>
<form action="/run" method="POST">
  <!--CONFIGURATION-->
  <div class="card-body row g-3">
    <div class="col-md-auto">
      <label>Input file name</label>
    </div>
    <div class="col-md-auto">
      <input
        type="text"
        class="form-control"
        placeholder="FileName"
        aria-label="FileName"
        name="configFileName"
        value="{{res.filename}}"
      />
    </div>
    <div class="col-md-auto">
      <label>Runs Number</label>
    </div>
    <div class="col-md-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Run numbers"
        aria-label="Run numbers"
        name="num_runs"
        value="3"
        value="{{res.num_runs}}"
      />
    </div>
    <div class="col-md-auto">
      <label>Processes Number</label>
    </div>
    <div class="col-md-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Processes number"
        aria-label="Processes number"
        name="num_processes"
        value="1"
      />
    </div>
    <div class="col-md-auto">
      <label>Output file name</label>
    </div>
    <div class="col-md-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Output file name"
        aria-label="Output file name"
        name="filename"
        value="output.yaml"
      />
    </div>
    <button class="btn-primary btn">Run</button>
  </div>
  <div class="container-fluid">
    {{show_node(parentList.data,parentList.children)}}
  </div>
</form>
{%endblock%}
