{%macro show_node(node,children,name="")%}
<div class="card">
  {%if name!=""%} {%set name=name+'.'%} {%endif%} {%if node is not none%}
  <div
    class="card-header card-title"
    data-bs-toggle="collapse"
    href="#{{node.type}}"
    role="button"
    aria-expanded="false"
  >
    <h6>{{node.type}} {{node.name}}</h6>
  </div>
  <div class="card-body collapse" id="{{node.type}}">
    {%for val in children %} {%if val is not none %} {%if
    val.children|length>0%}
    {{show_node(val.data,val.children,name+val.data.property)}} {%else%} {%if
    val.data.type=='StateVector'%}
    {{visualise_state_vector(val.data,name+val.data.property)}} {%elif
    val.data.type=='CovarianceMatrix'%}
    {{visualise_covar(val.data,name+val.data.property)}} {%elif
    val.data.type=='int' or val.data.type=='float'%}
    {{visualise_int(val.data,name+val.data.property)}} {%elif
    val.data.type=='NoneType'%}
    {{visualise_nonetype(val.data,name+val.data.property)}} {%elif
    val.data.type=='bool'%}
    {{visualise_boolean(val.data,name+val.data.property)}} {%elif val.data.type
    == 'ndarray'%} {{visualise_ndarray(val.data,name+val.data.property)}} {%elif
    val.data.type == 'datetime'%}
    {{visualise_datatime(val.data,name+val.data.property)}} {%else%}
    <p>
      {{val.data.property}} {{val.data.value}} {{val.data.type}}
      {{name}}{{val.data.property}}
    </p>

    {%endif%} {%endif%} {%endif%} {%endfor%}
  </div>
  {%endif%}
</div>
{%endmacro%}

<!--STATE VECTOR-->
{%macro visualise_state_vector(data,name)%}
<div class="card">
  <div
    class="card-header"
    class="card-title"
    data-bs-toggle="collapse"
    href="#{{data.type}}"
    role="button"
    aria-expanded="false"
  >
    <label>{{data.type}}:</label>
  </div>
  <div class="card-body collapse" id="{{data.type}}">
    <table class="table table-striped" style="width: auto">
      <thead>
        <tr>
          <th scope="col">State Vector</th>
        </tr>
      </thead>
      <tbody>
        {% for value in data.value %}
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <label>Value</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="{{value}}"
                  placeholder="Min Range"
                  name="{{name}}[]"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Min Range</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Min Range"
                  name="{{name}}_min_range[]"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Max Range</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Max Range"
                  name="{{name}}_max_range[]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Step</label>
              </div>

              <div class="col">
                <input
                  type="number"
                  value="0"
                  class="form-control"
                  placeholder="Step"
                  name="{{name}}_step[]"
                />
              </div>
            </div>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endmacro%}

<!--COVAR-->
{%macro visualise_covar(data,name)%}
<div class="card">
  <div
    class="card-header"
    class="card-title"
    data-bs-toggle="collapse"
    href="#{{data.type}}"
    role="button"
    aria-expanded="false"
  >
    <label>{{data.type}}:</label>
  </div>
  <div class="card-body collapse" id="{{data.type}}">
    <table class="table table-striped">
      <thead>
        <tr>
          {%for k in range(0,data.value[0]|length)%}
          <th scope="col">{{k}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {% for vector in data.value %}
        <tr>
          {%for value in vector%}
          <td>
            <div class="row">
              <div class="col">
                <label>Value</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="{{value}}"
                  placeholder="Min Range"
                  name="{{name}}[]"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Min Range</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Min Range"
                  name="{{name}}_min_range[]"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Max Range</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Max Range"
                  name="{{name}}_max_range[]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Step</label>
              </div>

              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Step"
                  name="{{name}}_step[]"
                />
              </div>
            </div>
          </td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endmacro%}
<!--INT-->
{%macro visualise_int(data,name)%}
<div class="row">
  <div class="col-md-auto">
    <label>{{data.property}}</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="{{data.value}}"
      placeholder="Value"
      name="{{name}}"
    />
  </div>
  <div class="col-md-auto">
    <label>Min Range</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Min Range"
      name="{{name}}_min_range"
    />
  </div>
  <div class="col-md-auto">
    <label>Max Range</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Max Range"
      name="{{name}}_max_range"
    />
  </div>

  <div class="col-md-auto">
    <label>Step</label>
  </div>
  <div class="col-md-auto">
    <input
      type="number"
      class="form-control"
      value="0"
      placeholder="Step"
      name="{{name}}_step"
    />
  </div>
</div>
{%endmacro%}

<!--NONETYPE-->
{%macro visualise_nonetype(data,name)%}
<div class="row">
  <div class="col-md-auto">
    <label>{{data.property}}</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="{{data.value}}"
      placeholder="Step"
      name="{{name}}"
    />
  </div>
  <div class="col-md-auto">
    <label>Min Range</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Min Range"
      name="{{name}}_min_range"
    />
  </div>
  <div class="col-md-auto">
    <label>Max Range</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Max Range"
      name="{{name}}_max_range"
    />
  </div>

  <div class="col-md-auto">
    <label>Step</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Step"
      name="{{name}}_step"
    />
  </div>
</div>
{%endmacro%}

<!--BOOLEAN-->
{%macro visualise_boolean(data,name)%}
<div class="row mt-10">
  <div class="col-md-auto">
    <label>{{data.property}}</label>
  </div>
  <div class="col-md-auto">
    <input
      type="checkbox"
      class="form-check-input"
      value="{{data.value}}"
      placeholder="Step"
      name="{{name}}"
    />
  </div>
  <div class="col-md-auto">
    <label>Min Range</label>
  </div>
  <div class="col-md-auto">
    <input
      type="checkbox"
      class="form-check-input"
      value="0"
      placeholder="Min Range"
      name="{{name}}_min_range"
    />
  </div>
  <div class="col-md-auto">
    <label>Max Range</label>
  </div>
  <div class="col-md-auto">
    <input
      type="checkbox"
      class="form-check-input"
      value="0"
      placeholder="Max Range"
      name="{{name}}_max_range"
    />
  </div>

  <div class="col-md-auto">
    <label>Step</label>
  </div>
  <div class="col-md-auto">
    <input
      type="checkbox"
      class="form-check-input"
      value="0"
      placeholder="Step"
      name="{{name}}_step"
    />
  </div>
</div>
{%endmacro%}

<!--NDARRAY-->
{%macro visualise_ndarray(data,name)%}
<div class="card">
  <div
    class="card-header"
    class="card-title"
    data-bs-toggle="collapse"
    href="#{{data.type}}"
    role="button"
    aria-expanded="false"
  >
    <label>{{data.type}}:</label>
  </div>
  <div class="card-body collapse" id="{{data.type}}">
    <table class="table table-striped" style="width: auto">
      <thead>
        <tr>
          <th scope="col">{{data.type}}</th>
        </tr>
      </thead>
      <tbody>
        {% for value in data.value %}
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <label>Value</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="{{value}}"
                  placeholder="Min Range"
                  name="{{name}}[]"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Min Range</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Min Range"
                  name="{{name}}_min_range[]"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Max Range</label>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  value="0"
                  placeholder="Max Range"
                  name="{{name}}_max_range[]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Step</label>
              </div>

              <div class="col">
                <input
                  type="number"
                  value="0"
                  class="form-control"
                  placeholder="Step"
                  name="{{name}}_step[]"
                />
              </div>
            </div>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endmacro%}

<!--DATATIME-->
{%macro visualise_datatime(data,name)%}
<div class="row">
  <div class="col-md-auto">
    <label>{{data.property}}</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="{{data.value}}"
      placeholder="Step"
      name="{{name}}"
    />
  </div>
  <div class="col-md-auto">
    <label>Min Range</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Min Range"
      name="{{name}}_min_range"
    />
  </div>
  <div class="col-md-auto">
    <label>Max Range</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Max Range"
      name="{{name}}_max_range"
    />
  </div>

  <div class="col-md-auto">
    <label>Step</label>
  </div>
  <div class="col-md-auto">
    <input
      class="form-control"
      value="0"
      placeholder="Step"
      name="{{name}}_step"
    />
  </div>
</div>
{%endmacro%}
